
section{

  margin-right: 0px;

  margin-top: 50px;
  background-color: rgb(204, 210, 226);
  padding:  10px;
  

  border-width: 0;
  border-style: solid;
  border-radius: 3px;
  border-width: 2px;
  border-color: rgb(204, 187, 218);
}

.comment{

  padding:10px;
  display: inline-flex;
}

.comment input{
  height: 35px;

  border-radius: 10px;
  border-color: rgb(255, 255, 255);
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
}

.likeSection{
  border-color: rgb(204, 187, 218);
padding: 10px;
border-style: solid;
border-top-width: 2px;
border-bottom-width: 2px;
border-left-width: 0;
border-right-width: 0;
}

.likeSection a{
  font-size: 20;

  margin: 10px 10px 10px 10px;
  }

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 1000px) {


  section{

  }

}