
section{

  margin-right: 0px;

  margin-top: 50px;
  background-color: rgb(204, 210, 226);
  padding:  10px;
  

  border-width: 0;
  border-style: solid;
  border-radius: 3px;
  border-width: 2px;
  border-color: rgb(204, 187, 218);
}

.comment{
background-color: darkblue;
}

.likeSection{
background-color: yellow;
}

/* Use a media query to add a breakpoint at 800px: */
@media screen and (max-width: 1000px) {


  section{

  }

}